# Chặn dữ liệu database và ảnh
data
**/data/db/
odoo-system/data/filestore/
# Chặn các file cấu hình chứa mật khẩu nhạy cảm (nếu cần bảo mật cao)
# .env
mautic-system/data/html/var/cache/
mautic-system/data/html/var/logs/
# Chặn các file rác của hệ thống
.DS_Store
__pycache__/
*.pyc
